<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>LOGCON</title>

    <!-- Local -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <script>
        let params = new URLSearchParams(location.search);
        let id = parseInt(params.get("id")); // is the number
    </script>
    
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1><%= title[id] %></h1>
        <p>You can enter the commands listed below.</p>
        <p class="output">solve --id=[problem id] --answer=[answer key]</p>
        <p class="output">solve -i=[problem id] -a=[answer key]</p>

        <br>
        <p>Enter <a href="challenges.html">home</a> to return the home page.</p>

        <br>
        <p>
            <%= content[id] %>
        </p>

        <br>
        <p id="history">
            ↓
        </p>
        
        <form action="javascript:void(0);">
            <p class="input-cover">
                <span id="user-information"><%= users.ID %>@<%= users.SCHOOL %>:/challenges$ </span>
                <input class="input" type="text" autocomplete="off autofocus">
            </p>
        </form>
    </div>
    
    
</body>
</html>