<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>LOGCON</title>

    <!-- Local -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/main.css"> -->
    <!-- <script src="../public/scripts/main.js"></script> -->

    <!-- Server -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

    
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Welcome to <span class="errorcode">LOGCON</span> by Teamlog 2018</h1>

        <p>This page is home page. You can see the rules of this game and some of the roaming paths.</p>
        <p>You can change directories using the commands listed below.</p>
        <p class="output">cd [directory name]</p>

        <br>
        <p>You can see how to use this page by enter <a href="help.ejs">help</a>.</p>

        <br>
        <p>Enter <a href="/">home</a> to return the main screen.</p>
        <p>Enter <a href="challenge">challenges</a> to see a list of problem.</p>
        <p>Enter <a href="notice">notice</a> to confirm the announcement.</p>
        <p>Enter <a href="rank">rank</a> to see the rankings.</p>

        <br>
        <p>Enter <a href="mypage">mypage</a> to check your profile and write a comment.</p>
        <p>Enter <a href="login">login</a> to perform the login.</p>
        <p>Enter <a href="register">register</a> to perform the register.</p>

        <br>
        <p>Your score : <%= score %></p>

        <br>
        <p id="history">
            ↓
        </p>
        
        <form action="javascript:void(0);">
            <p class="input-cover">
                <span id="user-information"><%= user_id %>@<%= user_school %>:/home$ </span>
                <input class="input" type="text" autocomplete="off autofocus">
            </p>
        </form>
    </div>
    
    
</body>
</html>


<!-- 반드시 들어가야 할 것 : 
    > Enter 'home' to return to the main screen.
    > Enter 'achievement' to resolve the issue. 
    > Enter 'board' to confirm the announcement.
    > Enter 'rank' to see the rankings.

-->