<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <form action="/admin/insertP" method="post">
        <div>
            <label>문제이름:</label>
            <input type="text" name="title"/>
        </div>
        <div>
            <label>문제내용:</label>
            <input type="text" name="content"/>
        </div>
        <div>
            <label>답:</label>
            <input type="text" name="answer"/>
        </div> 
        <div>
            <label>점수:</label>
            <input type="text" name="score"/>
        </div>
        <div>
            <label>파일경로:</label>
            <input type="text" name="file"/>
        </div>        
        <div>
            <input type="submit" value="문제 추가"/>
        </div>
    </form>
</body>
</html>