<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>LOGCON</title>

    <!-- Local -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <script>
        let params = new URLSearchParams(location.search);
        let id = parseInt(params.get("id")); // is the number
    </script>
    
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Welcome to <span class="errorcode">LOGCON</span> by Teamlog 2018</h1>
        <p>This page is rank page. You can check the ranking.</p>

        <br>
        <p>Enter <a href="home.html">home</a> to return the home page.</p>

        <br>
        <p class="output">ID, SCHOOL, SCORE, PROFILE_COMEMT</p>
        <p>
            <% for (let i = 0; i < users.length; i++) { %>
                <span><%= users[i].ID %>, <%= users[i].SCHOOL %>, <%= users[i].SCORE %>, <%= users[i].PROFILE_COMEMT %></span><br>
            <% } %>
        </p>

        <br>
        <p id="history">
            ↓
        </p>
        
        <form action="javascript:void(0);">
            <p class="input-cover">
                <span id="user-information"><%= user_id %>@<%= user_school %>:/rank$ </span>
                <input class="input" type="text" autocomplete="off autofocus">
            </p>
        </form>
    </div>
    
    
</body>
</html>